# Prueba Tecnica

    Para poder realizar cada uno de los numerales deberas buscar una relacion entre las 2 tablas para consolidarlas en una sola. Posterior a esto podras empezar con la solucion de los puntos

    Nota:  
    - El punto A y B los debes solucionar tanto en Sql como python. El punto C lo podras realizar con el lenguaje de tu preferencia
    - para obtener las bases de datos solo deberas ejecutar el bloque de codigo llamado 'DATA' en caso de un error puedes pedir ayuda

# Data

In [1]:
import pandas as pd
from os import path

df_barrios = pd.read_csv(path.join('Bases_insumo','barrios.csv')) 
df_clientes = pd.read_csv(path.join('Bases_insumo','clientes.csv'))

        codigo                  nombre
0    737998257              La Campina
1    737999435               Guayaquil
2    737998219                  Vipasa
3    737996837                 Lourdes
4    737997031              Villanueva
..         ...                     ...
332  737998799         Ignacio Rengifo
333  738000408      Prados del Limonar
334  737998040  Pizamos III-Las Dalias
335  737998078          Brisas de Mayo
336  737998035       Ciudadela del Río

[337 rows x 2 columns]

# Punto a

* Generar el listado de clientes con transacciones en 5 o más barrios.

# Punto b

* ¿Cuáles son los 6 barrios donde la mayor cantidad de clientes únicos realizan transacciones en
dispositivos tipo PAC? La respuesta debe incluir la cantidad de clientes únicos asociados a estos
barrios.

# Punto c

Realizar un analisis exploratorio de los datos  y que conclusiones puede sacar de dicho analisis.